@import './base.css';

#app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  overflow: hidden;
}

a {
  /* placeholder */
}

@media (hover: hover) {
  a:hover {
    /* placeholder */
  }
}

@media (min-width: 1024px) {
  body {
    /* placeholder */
  }

  #app {
    /* placeholder */
  }
}
